*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px;
    header,footer { 
        background: #eee;
        text-align: center;
        text-transform: uppercase;
        padding: 30px;
        margin-bottom: 10px;
    }
    .content{
        margin-bottom: 10px;
        display: flex;
        .column {
            background: #eee;
            &.side {
                background: none;
                width: 200px;
                flex-shrink: 0;
                flex-grow: 0;
                text-align: center;
                ul li {
                    background: #eee;
                    list-style: none;
                    padding: 10px;
                    margin-bottom: 10px;
                }
            }
            &.right{
                background: #eee;
                height: 200px; 
                overflow: hidden;
            }
            &.middle {
                margin: auto 10px;
                min-height: 400px;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .item{    
                    overflow: hidden;
                    width: 200px;
                    height: 200px;
                    margin: 10px 0 0 22px;
                    text-align: center;
                }
            }
        }
    }
}
@media (max-width: 620px) {
    .content {
        display: block;

        .column{
            &.side {
                width: auto;
            }
            &.middle {
                margin: 10px 0;
                display: block;
                .item {
                    margin: 20px auto;
                }
            }
        }
    }
}
